.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

@media (max-width: 600px) {
  .project {
    width: 90vmin;
    font-size: 2rem;
  }
  .section__title {
    font-size: inherit;
  }
  .project h3 {
    font-size: 1.2rem;
  }
  .project__stack li {
    font-size: 1rem;
  }
  .project a svg {
    font-size: 1.3rem;
  }
}
