.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
}

@media screen and (min-width: 768px) {
  .projects__grid {
    grid-template-columns: repeat(3, 1fr); /* Three project items in a row */
  }
}
/* .project__description {
  background-color: transparent;
  color: var(--clr-primary);
}
.project__stack {
  background-color: transparent;
  color: var(--clr-primary);
}

.project:first-of-type {
  border: solid red;
  flex: 4;
}
.project:nth-of-type(2) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project:nth-of-type(3) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 220%;
}
.project:nth-of-type(4) {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 150%;
}
.project:nth-of-type(5) {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
}
.project:nth-of-type(6) {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
}
.project:nth-of-type(7) {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
}
.project:nth-of-type(8) {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
}
.project:nth-of-type(9) {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
}
.project:nth-of-type(10) {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 600px) {
  .project {
    width: 90vmin;
    max-width: 400px;
    margin: 0 auto 1.5rem;
    padding: 1rem;
  }

  .section__title {
    font-size: 1.3rem;
  }
  .project h3 {
    font-size: 1.2rem;
  }
  .project__stack li {
    font-size: 1rem;
  }
  .project a svg {
    font-size: 1.3rem;
  }

  /* Adjust the grid layout to a single column 
  .projects__grid {
    grid-template-columns: 1fr; /* Set to one column 
    grid-gap: 1.5rem; /* Adjust grid gap for spacing 
  }
}
@media (max-width: 900px) {
  .projects__grid {
    max-width: 900px;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1.5em;
  }
}

@media (max-width: 1100px) {
  .projects__grid {
    max-width: 700px;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-gap: 1em;
  }
}
@media (max-width: 600px) {
  .project:first-of-type {
    background-size: 100% 110%;
  }
  .project:nth-of-type(2) {
    background-size: 100% 120%;
  }

  .project:nth-of-type(3) {
    background-size: 100% 250%;
  }
  .project:nth-of-type(4) {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .project:nth-of-type(5) {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .project:nth-of-type(6) {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .project:nth-of-type(7) {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .project:nth-of-type(8) {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .project:nth-of-type(9) {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .project:nth-of-type(10) {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .project_name {
    background-color: transparent;
    text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.5);
  }
  .project__description {
    background-color: transparent;
    color: var(--clr-primary);
  }
  .project__stack {
    background-color: transparent;
    color: var(--clr-primary);
  }
  .projects__grid {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
} */
