.project {
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  transition: transform 0.3s, box-shadow 0.3s;
}
.project:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
  cursor: pointer;
}
.project_name,
.project__description {
  text-align: center;
}
.project_name {
  color: var(--clr-primary);
}
.project__description {
  font-size: 1.2rem;
}
.project__stack {
  display: flex;
  justify-content: space-around;
  text-decoration: underline var(--clr-primary);
  margin-top: 5%;
  font-weight: bold;
}

.icons {
  text-align: center;
  margin-top: 5%;
}
a:first-of-type {
  margin-right: 3%;
}

@media screen and (min-width: 768px) {
  .project {
    height: 35vh;
    background-size: 100%;
  }
  .project__stack {
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
}
